<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>cardback34</string>
	<string>cardback35</string>
	<string>cardback36</string>
	<string>cardback37</string>
	<string>cardback38</string>
	<string>cardback33</string>
	<string>cardback39</string>
	<string>cardback17</string>
	<string>cardback20</string>
	<string>cardback2</string>
	<string>cardback5</string>
	<string>cardback6</string>
	<string>cardback9</string>
	<string>cardback10</string>
	<string>cardback13</string>
	<string>cardback15</string>
	<string>cardback16</string>
</array>
</plist>
