<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.5,1.0}</string>
				<string>{0.5,0.0}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>4</string>
		</array>
		<key>ImageName</key>
		<string>G1x2</string>
		<key>PatternName</key>
		<string>G1x2</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{1.0,0.5}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.5}</string>
				<string>{1.0,0.5}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.5}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>1</string>
		</array>
		<key>ImageName</key>
		<string>G2x1</string>
		<key>PatternName</key>
		<string>G2x1</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.33,0.0}</string>
				<string>{0.33,1.0}</string>
			</array>
			<array>
				<string>{0.66,0.0}</string>
				<string>{0.66,1.0}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.33,1.0}</string>
				<string>{0.33,0.0}</string>
			</array>
			<array>
				<string>{0.33,0.0}</string>
				<string>{0.33,1.0}</string>
				<string>{0.66,1.0}</string>
				<string>{0.66,0.0}</string>
			</array>
			<array>
				<string>{0.66,0.0}</string>
				<string>{0.66,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>4</string>
			<string>4</string>
		</array>
		<key>ImageName</key>
		<string>G1x3</string>
		<key>PatternName</key>
		<string>G1x3</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.0,0.33}</string>
				<string>{1.0,0.33}</string>
			</array>
			<array>
				<string>{0.0,0.66}</string>
				<string>{1.0,0.66}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.33}</string>
				<string>{1.0,0.33}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.33}</string>
				<string>{0.0,0.66}</string>
				<string>{1.0,0.66}</string>
				<string>{1.0,0.33}</string>
			</array>
			<array>
				<string>{0.0,0.66}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.66}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>1</string>
		</array>
		<key>ImageName</key>
		<string>G3x1</string>
		<key>PatternName</key>
		<string>G3x1</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
			</array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{0.5,0.5}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.5}</string>
				<string>{0.5,0.5}</string>
				<string>{0.5,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{0.0,1.0}</string>
				<string>{0.5,1.0}</string>
				<string>{0.5,0.5}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>4</string>
		</array>
		<key>ImageName</key>
		<string>H2_2x1_1x1</string>
		<key>PatternName</key>
		<string>H2_2x1_1x1</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{1.0,0.5}</string>
			</array>
			<array>
				<string>{0.5,0.5}</string>
				<string>{0.5,1.0}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.5}</string>
				<string>{1.0,0.5}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{0.0,1.0}</string>
				<string>{0.5,1.0}</string>
				<string>{0.5,0.5}</string>
			</array>
			<array>
				<string>{0.5,0.5}</string>
				<string>{0.5,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.5}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>3</string>
			<string>0</string>
			<string>4</string>
		</array>
		<key>ImageName</key>
		<string>V2_1x1_1x2</string>
		<key>PatternName</key>
		<string>V2_1x1_1x2</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.25,0.0}</string>
				<string>{0.25,1.0}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
			</array>
			<array>
				<string>{0.75,0.0}</string>
				<string>{0.75,1.0}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.25,1.0}</string>
				<string>{0.25,0.0}</string>
			</array>
			<array>
				<string>{0.25,0.0}</string>
				<string>{0.25,1.0}</string>
				<string>{0.5,1.0}</string>
				<string>{0.5,0.0}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
				<string>{0.75,1.0}</string>
				<string>{0.75,0.0}</string>
			</array>
			<array>
				<string>{0.75,0.0}</string>
				<string>{0.75,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>4</string>
			<string>4</string>
			<string>4</string>
		</array>
		<key>ImageName</key>
		<string>G1x4</string>
		<key>PatternName</key>
		<string>G1x4</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.0,0.25}</string>
				<string>{1.0,0.25}</string>
			</array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{1.0,0.5}</string>
			</array>
			<array>
				<string>{0.0,0.75}</string>
				<string>{1.0,0.75}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.25}</string>
				<string>{1.0,0.25}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.25}</string>
				<string>{0.0,0.5}</string>
				<string>{1.0,0.5}</string>
				<string>{1.0,0.25}</string>
			</array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{0.0,0.75}</string>
				<string>{1.0,0.75}</string>
				<string>{1.0,0.5}</string>
			</array>
			<array>
				<string>{0.0,0.75}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.75}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
		</array>
		<key>ImageName</key>
		<string>G4x1</string>
		<key>PatternName</key>
		<string>G4x1</string>
	</dict>
	<dict>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>4</string>
			<string>4</string>
			<string>4</string>
			<string>4</string>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.2,1.0}</string>
				<string>{0.2,0.0}</string>
			</array>
			<array>
				<string>{0.2,0.0}</string>
				<string>{0.2,1.0}</string>
				<string>{0.4,1.0}</string>
				<string>{0.4,0.0}</string>
			</array>
			<array>
				<string>{0.4,0.0}</string>
				<string>{0.4,1.0}</string>
				<string>{0.6,1.0}</string>
				<string>{0.6,0.0}</string>
			</array>
			<array>
				<string>{0.6,0.0}</string>
				<string>{0.6,1.0}</string>
				<string>{0.8,1.0}</string>
				<string>{0.8,0.0}</string>
			</array>
			<array>
				<string>{0.8,0.0}</string>
				<string>{0.8,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
		<key>lines</key>
		<array>
			<array>
				<string>{0.2,0.0}</string>
				<string>{0.2,1.0}</string>
			</array>
			<array>
				<string>{0.4,0.0}</string>
				<string>{0.4,1.0}</string>
			</array>
			<array>
				<string>{0.6,0.0}</string>
				<string>{0.6,1.0}</string>
			</array>
			<array>
				<string>{0.8,0.0}</string>
				<string>{0.8,1.0}</string>
			</array>
		</array>
		<key>ImageName</key>
		<string>G1x5</string>
		<key>PatternName</key>
		<string>G1x5</string>
	</dict>
	<dict>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.2}</string>
				<string>{1.0,0.2}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.2}</string>
				<string>{0.0,0.4}</string>
				<string>{1.0,0.4}</string>
				<string>{1.0,0.2}</string>
			</array>
			<array>
				<string>{0.0,0.4}</string>
				<string>{0.0,0.6}</string>
				<string>{1.0,0.6}</string>
				<string>{1.0,0.4}</string>
			</array>
			<array>
				<string>{0.0,0.6}</string>
				<string>{0.0,0.8}</string>
				<string>{1.0,0.8}</string>
				<string>{1.0,0.6}</string>
			</array>
			<array>
				<string>{0.0,0.8}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.8}</string>
			</array>
		</array>
		<key>lines</key>
		<array>
			<array>
				<string>{0.0,0.2}</string>
				<string>{1.0,0.2}</string>
			</array>
			<array>
				<string>{0.0,0.4}</string>
				<string>{1.0,0.4}</string>
			</array>
			<array>
				<string>{0.0,0.6}</string>
				<string>{1.0,0.6}</string>
			</array>
			<array>
				<string>{0.0,0.8}</string>
				<string>{1.0,0.8}</string>
			</array>
		</array>
		<key>ImageName</key>
		<string>G5x1</string>
		<key>PatternName</key>
		<string>G5x1</string>
	</dict>
	<dict>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>4</string>
			<string>4</string>
			<string>4</string>
			<string>4</string>
			<string>4</string>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.17,1.0}</string>
				<string>{0.17,0.0}</string>
			</array>
			<array>
				<string>{0.17,0.0}</string>
				<string>{0.17,1.0}</string>
				<string>{0.33,1.0}</string>
				<string>{0.33,0.0}</string>
			</array>
			<array>
				<string>{0.33,0.0}</string>
				<string>{0.33,1.0}</string>
				<string>{0.5,1.0}</string>
				<string>{0.5,0.0}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
				<string>{0.67,1.0}</string>
				<string>{0.67,0.0}</string>
			</array>
			<array>
				<string>{0.67,0.0}</string>
				<string>{0.67,1.0}</string>
				<string>{0.83,1.0}</string>
				<string>{0.83,0.0}</string>
			</array>
			<array>
				<string>{0.83,0.0}</string>
				<string>{0.83,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
		<key>lines</key>
		<array>
			<array>
				<string>{0.17,0.0}</string>
				<string>{0.17,1.0}</string>
			</array>
			<array>
				<string>{0.33,0.0}</string>
				<string>{0.33,1.0}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
			</array>
			<array>
				<string>{0.67,0.0}</string>
				<string>{0.67,1.0}</string>
			</array>
			<array>
				<string>{0.83,0.0}</string>
				<string>{0.83,1.0}</string>
			</array>
		</array>
		<key>ImageName</key>
		<string>G1x6</string>
		<key>PatternName</key>
		<string>G1x6</string>
	</dict>
	<dict>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
			<string>1</string>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.17}</string>
				<string>{1.0,0.17}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.17}</string>
				<string>{0.0,0.33}</string>
				<string>{1.0,0.33}</string>
				<string>{1.0,0.17}</string>
			</array>
			<array>
				<string>{0.0,0.33}</string>
				<string>{0.0,0.5}</string>
				<string>{1.0,0.5}</string>
				<string>{1.0,0.33}</string>
			</array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{0.0,0.67}</string>
				<string>{1.0,0.67}</string>
				<string>{1.0,0.5}</string>
			</array>
			<array>
				<string>{0.0,0.67}</string>
				<string>{0.0,0.83}</string>
				<string>{1.0,0.83}</string>
				<string>{1.0,0.67}</string>
			</array>
			<array>
				<string>{0.0,0.83}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.83}</string>
			</array>
		</array>
		<key>lines</key>
		<array>
			<array>
				<string>{0.0,0.17}</string>
				<string>{1.0,0.17}</string>
			</array>
			<array>
				<string>{0.0,0.33}</string>
				<string>{1.0,0.33}</string>
			</array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{1.0,0.5}</string>
			</array>
			<array>
				<string>{0.0,0.67}</string>
				<string>{1.0,0.67}</string>
			</array>
			<array>
				<string>{0.0,0.83}</string>
				<string>{1.0,0.83}</string>
			</array>
		</array>
		<key>ImageName</key>
		<string>G6x1</string>
		<key>PatternName</key>
		<string>G6x1</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
			</array>
			<array>
				<string>{0.0,0.33}</string>
				<string>{0.5,0.33}</string>
			</array>
			<array>
				<string>{0.0,0.66}</string>
				<string>{0.5,0.66}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.33}</string>
				<string>{0.5,0.33}</string>
				<string>{0.5,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.33}</string>
				<string>{0.0,0.66}</string>
				<string>{0.5,0.66}</string>
				<string>{0.5,0.33}</string>
			</array>
			<array>
				<string>{0.0,0.66}</string>
				<string>{0.0,1.0}</string>
				<string>{0.5,1.0}</string>
				<string>{0.5,0.66}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>4</string>
		</array>
		<key>ImageName</key>
		<string>H2_3x1_1x1</string>
		<key>PatternName</key>
		<string>H2_3x1_1x1</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{1.0,0.5}</string>
			</array>
			<array>
				<string>{0.33,0.5}</string>
				<string>{0.33,1.0}</string>
			</array>
			<array>
				<string>{0.66,0.5}</string>
				<string>{0.66,1.0}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.5}</string>
				<string>{1.0,0.5}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{0.0,1.0}</string>
				<string>{0.33,1.0}</string>
				<string>{0.33,0.5}</string>
			</array>
			<array>
				<string>{0.33,0.5}</string>
				<string>{0.33,1.0}</string>
				<string>{0.66,1.0}</string>
				<string>{0.66,0.5}</string>
			</array>
			<array>
				<string>{0.66,0.5}</string>
				<string>{0.66,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.5}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>3</string>
			<string>0</string>
			<string>4</string>
			<string>4</string>
		</array>
		<key>ImageName</key>
		<string>V2_1x1_1x3</string>
		<key>PatternName</key>
		<string>V2_1x1_1x3</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
			</array>
			<array>
				<string>{0.0,0.33}</string>
				<string>{0.5,0.33}</string>
			</array>
			<array>
				<string>{0.0,0.66}</string>
				<string>{0.5,0.66}</string>
			</array>
			<array>
				<string>{0.5,0.5}</string>
				<string>{1.0,0.5}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.33}</string>
				<string>{0.5,0.33}</string>
				<string>{0.5,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.33}</string>
				<string>{0.0,0.66}</string>
				<string>{0.5,0.66}</string>
				<string>{0.5,0.33}</string>
			</array>
			<array>
				<string>{0.0,0.66}</string>
				<string>{0.0,1.0}</string>
				<string>{0.5,1.0}</string>
				<string>{0.5,0.66}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,0.5}</string>
				<string>{1.0,0.5}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{0.5,0.5}</string>
				<string>{0.5,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.5}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>1</string>
			<string>4</string>
			<string>7</string>
		</array>
		<key>ImageName</key>
		<string>H2_3x1_2x1</string>
		<key>PatternName</key>
		<string>H2_3x1_2x1</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{1.0,0.5}</string>
			</array>
			<array>
				<string>{0.33,0.5}</string>
				<string>{0.33,1.0}</string>
			</array>
			<array>
				<string>{0.66,0.5}</string>
				<string>{0.66,1.0}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,0.5}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.5}</string>
				<string>{0.5,0.5}</string>
				<string>{0.5,0.0}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,0.5}</string>
				<string>{1.0,0.5}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{0.0,1.0}</string>
				<string>{0.33,1.0}</string>
				<string>{0.33,0.5}</string>
			</array>
			<array>
				<string>{0.33,0.5}</string>
				<string>{0.33,1.0}</string>
				<string>{0.66,1.0}</string>
				<string>{0.66,0.5}</string>
			</array>
			<array>
				<string>{0.66,0.5}</string>
				<string>{0.66,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.5}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>4</string>
			<string>1</string>
			<string>7</string>
			<string>7</string>
		</array>
		<key>ImageName</key>
		<string>V2_1x2_1x3</string>
		<key>PatternName</key>
		<string>V2_1x2_1x3</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{0.33,0.5}</string>
			</array>
			<array>
				<string>{0.33,0.0}</string>
				<string>{0.33,1.0}</string>
			</array>
			<array>
				<string>{0.66,0.0}</string>
				<string>{0.66,1.0}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.5}</string>
				<string>{0.33,0.5}</string>
				<string>{0.33,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{0.0,1.0}</string>
				<string>{0.33,1.0}</string>
				<string>{0.33,0.5}</string>
			</array>
			<array>
				<string>{0.33,0.0}</string>
				<string>{0.33,1.0}</string>
				<string>{0.66,1.0}</string>
				<string>{0.66,0.0}</string>
			</array>
			<array>
				<string>{0.66,0.0}</string>
				<string>{0.66,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>4</string>
			<string>4</string>
		</array>
		<key>ImageName</key>
		<string>H3_2x1_1x1_1x1</string>
		<key>PatternName</key>
		<string>H3_2x1_1x1_1x1</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,0.33}</string>
			</array>
			<array>
				<string>{0.0,0.33}</string>
				<string>{1.0,0.33}</string>
			</array>
			<array>
				<string>{0.0,0.66}</string>
				<string>{1.0,0.66}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.33}</string>
				<string>{0.5,0.33}</string>
				<string>{0.5,0.0}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,0.33}</string>
				<string>{1.0,0.33}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.33}</string>
				<string>{0.0,0.66}</string>
				<string>{1.0,0.66}</string>
				<string>{1.0,0.33}</string>
			</array>
			<array>
				<string>{0.0,0.66}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.66}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>4</string>
			<string>1</string>
			<string>1</string>
		</array>
		<key>ImageName</key>
		<string>V3_1x2_1x1_1x1</string>
		<key>PatternName</key>
		<string>V3_1x2_1x1_1x1</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{1.0,0.5}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.5}</string>
				<string>{0.5,0.5}</string>
				<string>{0.5,0.0}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,0.5}</string>
				<string>{1.0,0.5}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.5}</string>
				<string>{0.0,1.0}</string>
				<string>{0.5,1.0}</string>
				<string>{0.5,0.5}</string>
			</array>
			<array>
				<string>{0.5,0.5}</string>
				<string>{0.5,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.5}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>0</string>
			<string>4</string>
			<string>1</string>
			<string>7</string>
		</array>
		<key>ImageName</key>
		<string>G2x2</string>
		<key>PatternName</key>
		<string>G2x2</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{1.0,0.0}</string>
				<string>{0.0,1.0}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{1.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>5</string>
			<string>6</string>
		</array>
		<key>ImageName</key>
		<string>LayoutPatternDiagonal</string>
		<key>PatternName</key>
		<string>LayoutPatternDiagonal</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.5,1.0}</string>
				<string>{0.5,0.0}</string>
			</array>
			<array>
				<string>{0.5,0.0}</string>
				<string>{0.5,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>5</string>
			<string>6</string>
		</array>
		<key>ImageName</key>
		<string>ShapeSx1</string>
		<key>PatternName</key>
		<string>ShapeSx1</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.3,0.0}</string>
				<string>{0.3,1.0}</string>
			</array>
			<array>
				<string>{0.7,0.0}</string>
				<string>{0.7,1.0}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.3,1.0}</string>
				<string>{0.3,0.0}</string>
			</array>
			<array>
				<string>{0.3,0.0}</string>
				<string>{0.3,1.0}</string>
				<string>{0.7,1.0}</string>
				<string>{0.7,0.0}</string>
			</array>
			<array>
				<string>{0.7,0.0}</string>
				<string>{0.7,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>5</string>
			<string>6</string>
			<string>6</string>
		</array>
		<key>ImageName</key>
		<string>ShapeSx2</string>
		<key>PatternName</key>
		<string>ShapeSx2</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.0,0.4}</string>
				<string>{0.5,0.6}</string>
				<string>{1.0,0.4}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.4}</string>
				<string>{0.5,0.6}</string>
				<string>{1.0,0.4}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.4}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.4}</string>
				<string>{0.5,0.6}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>5</string>
			<string>6</string>
		</array>
		<key>ImageName</key>
		<string>LayoutPatternDownx1</string>
		<key>PatternName</key>
		<string>DownArrawx1</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.0,0.3}</string>
				<string>{0.5,0.4}</string>
				<string>{1.0,0.3}</string>
			</array>
			<array>
				<string>{0.0,0.6}</string>
				<string>{0.5,0.7}</string>
				<string>{1.0,0.6}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,0.3}</string>
				<string>{0.5,0.4}</string>
				<string>{1.0,0.3}</string>
				<string>{1.0,0.0}</string>
			</array>
			<array>
				<string>{0.0,0.3}</string>
				<string>{0.0,0.6}</string>
				<string>{0.5,0.7}</string>
				<string>{1.0,0.6}</string>
				<string>{1.0,0.3}</string>
				<string>{0.5,0.4}</string>
			</array>
			<array>
				<string>{0.0,0.6}</string>
				<string>{0.0,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.6}</string>
				<string>{0.5,0.7}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>5</string>
			<string>6</string>
			<string>6</string>
		</array>
		<key>ImageName</key>
		<string>LayoutPatternDownx2</string>
		<key>PatternName</key>
		<string>DownArrawx2</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.6,0.0}</string>
				<string>{0.4,0.5}</string>
				<string>{0.6,1.0}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.6,1.0}</string>
				<string>{0.4,0.5}</string>
				<string>{0.6,0.0}</string>
			</array>
			<array>
				<string>{0.6,0.0}</string>
				<string>{0.4,0.5}</string>
				<string>{0.6,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>5</string>
			<string>6</string>
		</array>
		<key>ImageName</key>
		<string>LayoutPatternLeftx1</string>
		<key>PatternName</key>
		<string>LeftArrawx1</string>
	</dict>
	<dict>
		<key>lines</key>
		<array>
			<array>
				<string>{0.4,0.0}</string>
				<string>{0.3,0.5}</string>
				<string>{0.4,1.0}</string>
			</array>
			<array>
				<string>{0.7,0.0}</string>
				<string>{0.6,0.5}</string>
				<string>{0.7,1.0}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
				<string>{0.0,1.0}</string>
				<string>{0.4,1.0}</string>
				<string>{0.3,0.5}</string>
				<string>{0.4,0.0}</string>
			</array>
			<array>
				<string>{0.4,0.0}</string>
				<string>{0.3,0.5}</string>
				<string>{0.4,1.0}</string>
				<string>{0.7,1.0}</string>
				<string>{0.6,0.5}</string>
				<string>{0.7,0.0}</string>
			</array>
			<array>
				<string>{0.7,0.0}</string>
				<string>{0.6,0.5}</string>
				<string>{0.7,1.0}</string>
				<string>{1.0,1.0}</string>
				<string>{1.0,0.0}</string>
			</array>
		</array>
		<key>blurDirection</key>
		<array>
			<string>5</string>
			<string>6</string>
			<string>6</string>
		</array>
		<key>ImageName</key>
		<string>LayoutPatternLeftx2</string>
		<key>PatternName</key>
		<string>LeftArrawx2</string>
	</dict>
	<dict>
		<key>shape</key>
		<array>
			<string>{{0.15,0.15},{0.7,0.7}}</string>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{1.0,1.0}</string>
			</array>
		</array>
		<key>ImageName</key>
		<string>LayoutPatternCircle</string>
		<key>PatternName</key>
		<string>LayoutPatternCircle</string>
	</dict>
	<dict>
		<key>shape</key>
		<array>
			<string>{{0.2,0.2},{0.6,0.6}}</string>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{1.0,1.0}</string>
			</array>
		</array>
		<key>ImageName</key>
		<string>LayoutPatternSquare</string>
		<key>PatternName</key>
		<string>LayoutPatternSquare</string>
	</dict>
	<dict>
		<key>shape</key>
		<array>
			<string>{{0.1,0.1},{0.8,0.8}}</string>
			<array>
				<string>{0.5,0.07}</string>
				<string>{0.0,0.93}</string>
				<string>{1.0,0.93}</string>
			</array>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{1.0,1.0}</string>
			</array>
		</array>
		<key>ImageName</key>
		<string>LayoutPatternTriangle</string>
		<key>PatternName</key>
		<string>LayoutPatternTriangle</string>
	</dict>
	<dict>
		<key>shape</key>
		<array>
			<string>{{0.1,0.1},{0.8,0.8}}</string>
		</array>
		<key>sublayoutEndpoints</key>
		<array>
			<array>
				<string>{0.0,0.0}</string>
			</array>
			<array>
				<string>{1.0,1.0}</string>
			</array>
		</array>
		<key>ImageName</key>
		<string>LayoutPatternHeart</string>
		<key>PatternName</key>
		<string>LayoutPatternHeart</string>
	</dict>
</array>
</plist>
