variables:
  SCHEME: "SmashyStar"
  PROJECT: "-project SmashyStar.xcodeproj"

before_script:
  - mkdir artifacts
  - export ARCHIVEPATH=$(pwd)/artifacts/${SCHEME}.xcarchive
  - export EXPORTPATH=$(pwd)/artifacts/$CI_PROJECT_NAME-$CI_COMMIT_TAG

stages:
  - dev
  - release

dev:
  stage: dev
  only:
    - master
  script:
    - export CONFIGURATION="Debug"
    - xcodebuild clean -configuration ${CONFIGURATION}
    - xcodebuild build ${PROJECT} -scheme ${SCHEME} -configuration ${CONFIGURATION} -allowProvisioningUpdates
    - xcodebuild clean -configuration ${CONFIGURATION}

release:
  stage: release
  only:
    - tags
  except:
    - /^(?!.*(master|v?\d+\.\d+(\.\d+)?)$).*$/
  script:
    - export CONFIGURATION="Release"
    - xcodebuild clean -configuration ${CONFIGURATION}
    - xcodebuild archive ${PROJECT} -scheme ${SCHEME} -configuration ${CONFIGURATION} -archivePath $ARCHIVEPATH -allowProvisioningUpdates
    - xcodebuild -exportArchive -exportOptionsPlist ExportOption.plist  -archivePath $ARCHIVEPATH -exportPath $EXPORTPATH -allowProvisioningUpdates
    - xcodebuild clean -configuration ${CONFIGURATION}
  artifacts:
    paths:
      - artifacts